extensions:
    crawler_client: SixtyEightPublishers\CrawlerClient\Bridge\Nette\DI\CrawlerClientExtension

crawler_client:
    crawler_host_url: https://www.crawler.com
    credentials:
        username: test_user
        password: test_password
